{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
    <p>Это учебный сайт.</p>
    <p>Цель задания: повторить и отработать на практике материал, изученный в ходе программы.<br><br>
    Проект включает в себя обязательное задание и дополнительные задания.<br>
    - Обязательное задание необходимо выполнить для получения диплома. За него ставится оценка.<br>
    - Дополнительные задание можно выполнить для портфолио и также сдать и получить обратную связь. Его выполнение полезно, но не влияет на оценку.<br><br>
    Инструменты, которые обязательно нужно использовать для обязательного задания: Python, Фреймворк Django<br><br>
    Формат сдачи: ссылка на подписанную и доступную для просмотра копию данного шаблона с выполненными заданиями в синих полях. Инструкция.<br></p>
<div>
<br>
    <h2>Список рецептов</h2>
    <br>
    {% for item in page_obj %}
        <p>{{ item.title }}</p>
    {% endfor %}
    <br>
    <nav>
        <ul>
            {% for p in page_obj.paginator.page_range %}
            <li>
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>

{% endblock %}
